*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: brown;
    padding: 10px 20px;
}

h1{
    text-align: center;
    background-color: aquamarine;
    color: black;
}

.container{
    background-color: cadetblue;
    padding: 10px 20px;
}

h2{
    color: aliceblue;
}

h3 pre{
    color:rgb(122, 54, 54);
    font-size: 20px;
}

h4{
    color: rgb(239, 246, 42);
}

.explain{
    border: 3px solid black;
    color: blue;
    font-size: 18px;
    padding: 20px 80px;
}